.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  margin-left: 28px;
  width: 85%;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}
.nav-pills .nav-link {
  margin-left: 28px;
  font-size: 20px;
}